## AEROPOLIS
#### Group 296881

In [ ]:
"""
SMALL SUMMARY --- --- --- REMOVE BEFORE SUBMISSION --- --- ---



One single notebook called “main.ipynb” with ALL the code used for the project.



The notebook must have the following characteristics:

    1. Text and code cells must alternate from start to finish. The text cell above must
       describe the contents of the code below and its output so that a reader can easily
       follow up on your implementation. 

    2. You must explain what you will do and why you chose to do so.

    3. You must explain the outputs of the cell (if any) with particular attention
       to describing figures such that a reader already knows what he is going to see.
"""

In [ ]:
"""
ALL TASKS --- --- --- REMOVE BEFORE SUBMISSION --- ---- ----

Data Preprocessing:
    Load and inspect the dataset.
    Handle missing values (e.g., impute or drop).
    Encode categorical features (e.g., one-hot encoding).

Model Selection and Training:
    Choose a machine learning algorithm (maybe Random Forest Regressor).
    Split the data into training and testing sets (80%/20% split).
    Train the model on the training set.

Model Evaluation:
    Evaluate the model using metrics such as Mean Absolute Error (MAE) and R-squared.
    Compare with baseline models (e.g., Linear Regression, Decision Trees).

Model Improvement:
    Perform hyperparameter tuning (e.g., using GridSearchCV).
    Optionally, explore other models like Gradient Boosting.

Feature Importance:
    Visualize feature importance from the Random Forest model.

Reporting:
    Write the project report, including:
        Introduction: Brief project overview.
        Methods: Approach, algorithm, features, and environment setup.
        Experimental Design: Baselines, metrics, and purpose of experiments.
        Results: Evaluation metrics, findings, and visualizations.
        Conclusions: Takeaways, unanswered questions, and next steps.

Code and Documentation:
    Provide clean, well-documented code.
    Include instructions for setting up the environment (e.g., requirements.txt or conda environment).
"""

## [SECTION 1] Introduction

To be added. Brief overview and aim.

### Data Preparation

We sample our dataset for ease of calculation (especially in the early stages).

In [54]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


# Get the filepath from user and read the data
fileInput = "/Users/yaseminates/Desktop"
df_or = pd.read_csv(f"{fileInput}/aeropolis.csv")

# Sample a smaller version of the dataset
df = df_or.sample(frac=0.01, random_state=1) 
"""
Started with 10.000 entries instead of the original 1.000.000
"""

# Save the above (smaller) dataset
df.to_csv('aeropolis_sample.csv', index=False)

### Exploratory Data Analysis

We start by looking at the overall structure and checking for missing values. Of all 1.000.000 entries neary 100.000 of each category is missing. This is nearly 10% of all data.

In [46]:
# Statistics

df_or.shape

df_or.info()

df_or.describe()

# These will be structured later...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Cargo_Capacity_kg              899767 non-null  float64
 1   Air_Temperature_Celsius        900236 non-null  float64
 2   Weather_Status                 899826 non-null  object
 3   Package_Type                   899579 non-null  object
 4   Vertical_Landing               900434 non-null  object
 5   Equipment_Cost                 900197 non-null  float64
 6   Market_Region                  899887 non-null  object
 7   Flight_Duration_Minutes        900047 non-null  object
 8   Terrain_Type                   900329 non-null  object
 9   Water_Usage_liters             900344 non-null  float64
 10  Flight_Hours                   900273 non-null  float64
 11  Delivery_Time_Minutes          900036 non-null  float64
 12  Cleaning_Liquid_Usage_liters   899602 non-null  float64
 13  Climate_Zone                   899823 non-null  object
 14  Quantum_Battery                900007 non-null  object
 15  Flight_Zone                    899843 non-null  object
 16  Autopilot_Quality_Index        900189 non-null  float64
 17  Vertical_Max_Speed             899779 non-null  float64
 18  Wind_Speed_kmph                900212 non-null  float64
 19  Route_Optimization_Per_Second  899614 non-null  float64
dtypes: float64(11), object(9)
memory usage: 152.6+ MB

,Cargo_Capacity_kg,Air_Temperature_Celsius,Equipment_Cost,Water_Usage_liters,Flight_Hours,Delivery_Time_Minutes,Cleaning_Liquid_Usage_liters,Autopilot_Quality_Index,Vertical_Max_Speed,Wind_Speed_kmph,Route_Optimization_Per_Second
count,899767.000000,900236.000000,900197.000000,900344.000000,900273.000000,900036.000000,899602.000000,900189.000000,899779.000000,900212.000000,899614.000000
mean,4.649776,27.502480,29987.480920,4999.072438,149.994980,104.482616,50.092852,0.500285,299.315963,550.079136,999.718546
std,1.696381,7.220540,11548.037346,1500.069589,12.254514,25.944757,50.073233,0.288772,115.499584,259.809348,199.873344
min,-1.147613,15.000041,10000.140000,-2323.700000,95.000000,60.000000,0.000000,0.000000,100.000000,100.000896,-133.070000
25%,3.418913,21.252947,19972.210000,3987.087500,142.000000,82.000000,14.450000,0.250000,199.000000,325.135896,864.782500
50%,4.651655,27.504887,29986.650000,4997.685000,150.000000,104.000000,34.730000,0.500000,299.000000,550.349457,999.750000
75%,5.878848,33.751600,39990.970000,6011.532500,158.000000,127.000000,69.427500,0.750000,399.000000,774.780272,1134.480000
max,9.963372,39.999997,49999.990000,13104.200000,213.000000,149.000000,716.380000,1.000000,499.000000,999.998098,1999.670000

### Handling Missing Values

## [SECTION 2] Methods

Regression. Lorem Ipsum.

In [ ]:
#code

## [SECTION 3] Experimental Design

Metrics. Lorem Ipsum.

In [7]:
#code

## [SECTION 4] Results

Lorem Ipsum.

In [9]:
#code

## [SECTION 5] Conclusions

In [ ]:
#code